*,
    *::before,
    *::after {
    box-sizing: border-box;
	padding: 0;
	margin: 0;
}
.section1{
	width: 100%;
	height: 100%;
	background:no-repeat 100% url("../img/фон.jpg");
	text-align: center;
	background-color: black;
}
@-webkit-keyframes blink6 {
 10% { transform: scale(1, 1) rotate(80deg); }
 20% { transform: scale(0, 0) rotate(160deg); }
 100% { transform: scale(0, 0) rotate(0deg); }
}
@keyframes blink6 {
 10% { transform: scale(1, 1) rotate(80deg); }
 20% { transform: scale(0, 0) rotate(160deg); }
 100% { transform: scale(0, 0) rotate(0deg); }
}
#blink6 {
	font-family: 'Lobster', cursive;
	font-size: 80px;
  position: relative;
  display: inline-block;
  color: #fff;
  text-shadow: 0 0 10px #3d7a97;
}
#blink6:after, #blink6:before {
  content: "";
  position: absolute; top: 0; left: 0;
  display: block;
  width: 100px;
  height: 100px;
  background-image: 
    radial-gradient(rgba(255,255,255,1), rgba(255,255,255,0) 30%),
    linear-gradient(45deg, rgba(0,0,0,0) 49%, rgba(255,255,255,.4) 50%, rgba(0,0,0,0) 51%),
    linear-gradient(135deg, rgba(0,0,0,0) 49%, rgba(255,255,255,.4) 50%, rgba(0,0,0,0) 51%);
  -webkit-animation: blink6 10s linear infinite;
  animation: blink6 10s linear infinite;
  transform: scale(0, 0) rotate(0deg);
}
#blink6:before {
  top: -30%;
  right: 0; left: auto;
  -webkit-animation-delay: 5s;
  animation-delay: 5s;
}

.small_text{
	font-family: 'Amatic SC', cursive;
	color: black;
	font-size: 30px;
	margin-top: 15px;
	margin-left: 30px;
}
.section2{
	width: 100%;
	height: 100%;
}
.photo-left{
	display:flex;
	width: 40%;
	height: 100%;
	background:url("../img/left.png");
	background-size: cover;
}
.fon{
	position: absolute;
	left: 40%;
	position: flex;
	width:60%;
	height: 30%;
	background-color: #ffdab9;
	text-align: center;
}
.desc{
	display: inline-block;
	font-size: 80px;
	font-family: 'Prata', serif;
	position: relative;
	top: 40%;
	z-index: 0;
}
.big-desc{
	position: absolute;
	left: 40%;
	margin-top: 14%;
	width:60%;
	height: 70%;
	background-color: white;
	z-index: 1;
}
.big-desc p{
	color: black;
	font-size: 20px;
	font-family: 'Prata', serif;
	text-align: left;
	line-height: 1.5;
	margin:50px 120px;

}
.fon2{
	position: absolute;
	position: flex;
	width:60%;
	height: 30%;
	background-color: #9ed5ae;
	text-align: center;
}
.desc2{
	display: inline-block;
	font-size: 70px;
	font-family: 'Prata', serif;
	position: relative;
	top: 45%;
	z-index: 0;
}
.big-desc2{
	position: absolute;
	margin-top: 14.5%;
	width:60%;
	height: 70%;
	background-color: white;
	z-index: 1;
}
.big-desc2 ul{
	margin-top: 80px;
}

.big-desc2 li{
	color: black;
	font-size: 20px;
	font-family: 'Prata', serif;
	text-align: left;
	line-height: 1.5;
	margin:10px 100px;

}

.photo-right{
	display:flex;
	margin-left: 60%;
	width: 40%;
	height: 100%;
	background:50% url("../img/right.jpg");
	background-size: cover;
}

/*slider*/

.section3{
	background-color: #d2e2fe;
	padding-bottom: 18px;
}
.galery{
	padding-top: 10px;
	margin-bottom: -25px;
	color: black;
	font-size: 88px;
	font-family: 'Prata', serif;
	text-align: center;
}

.linking{
	width: 100%;
	margin: 30px auto 20px;
	text-align: left;
}
.linking-block{
	width: 60%;
	margin: 0 auto;
	padding: 15px 50px;
	border-left: 3px solid black;
	border-right: 3px solid black;
}
.linking-block p{
	font-size: 18px;
	font-family: 'Prata', serif;
}
.linking-block a{
	font-size: 20px;
	font-family: 'Lobster', cursive;
	text-decoration: none;
	letter-spacing: 2px;
}