body{
	font-family: 'Open Sans Condensed',sans-serif;
}
	.container{
				background-color: white;
				width: 100%;
				height: 100%;
				margin: 0;
				padding: 0;
			}
			.container .vl img{
				margin-top: 50px;
				width: 350px;
				float: left;
				margin-left: 100px;
				margin-right: 100px;
				box-shadow:0 0 20px grey;
   				transition: 1s; /* Время эффекта */
   			}
	   		.vl img:hover {
	    		transform: scale(1.1); /* Увеличиваем масштаб */
			}
			h1{
				padding-top: 40px;
				font-size: 40px;
				color: black;
				font-weight: 700;
			}
			
			.stages{
				margin-top: 25px;
			}
			
			li{
				font-size: 20px;
				padding: 5px 5px;
			}
		
			.vl {
	    		border-left: 3px solid #c6c6c6;
	    		height: 100%;
	    		margin-left: 70px;
			}
			.line{
				border-top: 3px solid #c6c6c6;
	    		width: 100%;
	    		margin-top: 70px;
	    		margin-left: -70px;
			}
			span{
				display: block;
				align-items: center;
				text-align: center;
				font-size: 20px;
				font-weight: 700;
				margin: 0 auto;
				padding: 0 auto;
			}
			a{
				text-decoration: none;
				color: red;
				transition: 1.2s;
			}
			a:hover{
				color: black;
				
			}

.body img{
	width: 350px;
	max-height: 500px;
	margin-left: 175px;
	box-shadow: 3px 2px 2px red;
}
.body p{
	text-align: center;
	font-size: 20px;
	margin: 0;
}
.descr{
	margin-left: 200px;
	font-size: 18px;
	font-weight: 700;
}
.vl_2 {
	border-left: 3px solid #c6c6c6;
	height: 100%;
	margin-left: 70px;
}