*,
    *::before,
    *::after {
    box-sizing: border-box;
	padding: 0;
	margin: 0;
}
.section1{
	width: 100%;
	height: 100%;
	background:100% url("../img/фон.jpg");
	background-size: cover;
	text-align: center;
}
@-webkit-keyframes blink6 {
 10% { transform: scale(1, 1) rotate(80deg); }
 20% { transform: scale(0, 0) rotate(160deg); }
 100% { transform: scale(0, 0) rotate(0deg); }
}
@keyframes blink6 {
 10% { transform: scale(1, 1) rotate(80deg); }
 20% { transform: scale(0, 0) rotate(160deg); }
 100% { transform: scale(0, 0) rotate(0deg); }
}
#blink6 {
	font-family: 'Lobster', cursive;
	font-size: 80px;
  position: relative;
  display: inline-block;
  color: #fff;
  text-shadow: 0 0 10px #3d7a97;
}
#blink6:after, #blink6:before {
  content: "";
  position: absolute; top: 0; left: 0;
  display: block;
  width: 100px;
  height: 100px;
  background-image: 
    radial-gradient(rgba(255,255,255,1), rgba(255,255,255,0) 30%),
    linear-gradient(45deg, rgba(0,0,0,0) 49%, rgba(255,255,255,.4) 50%, rgba(0,0,0,0) 51%),
    linear-gradient(135deg, rgba(0,0,0,0) 49%, rgba(255,255,255,.4) 50%, rgba(0,0,0,0) 51%);
  -webkit-animation: blink6 10s linear infinite;
  animation: blink6 10s linear infinite;
  transform: scale(0, 0) rotate(0deg);
}
#blink6:before {
  top: -30%;
  right: 0; left: auto;
  -webkit-animation-delay: 5s;
  animation-delay: 5s;
}

.small_text{
	font-family: 'Amatic SC', cursive;
	color: white;
	font-size: 30px;
	margin-top: 15px;
}
.section2{
	width: 100%;
	height: 100%;
}
.photo-left{
	display:flex;
	width: 40%;
	height: 100%;
	background:url("../img/красиво.jpg");
	background-size: cover;
}
.fon{
	position: absolute;
	left: 40%;
	position: flex;
	width:60%;
	height: 30%;
	background-color: #ffdab9;
	text-align: center;
}
.desc{
	display: inline-block;
	font-size: 100px;
	font-family: 'Prata', serif;
	position: relative;
	top: 45%;
	z-index: 0;
}
.big-desc{
	position: absolute;
	left: 40%;
	margin-top: 14.5%;
	width:60%;
	height: 70%;
	background-color: white;
	z-index: 1;
}
.big-desc p{
	color: black;
	font-size: 20px;
	font-family: 'Prata', serif;
	text-align: left;
	line-height: 1.5;
	margin:100px 120px;

}
.fon2{
	position: absolute;
	position: flex;
	width:60%;
	height: 30%;
	background-color: #9ed5ae;
	text-align: center;
}
.desc2{
	display: inline-block;
	font-size: 100px;
	font-family: 'Prata', serif;
	position: relative;
	top: 45%;
	z-index: 0;
}
.big-desc2{
	position: absolute;
	margin-top: 14.5%;
	width:60%;
	height: 70%;
	background-color: white;
	z-index: 1;
}
.big-desc2 p{
	color: black;
	font-size: 20px;
	font-family: 'Prata', serif;
	text-align: left;
	line-height: 1.5;
	margin:100px 120px;

}

.photo-right{
	display:flex;
	margin-left: 60%;
	width: 40%;
	height: 100%;
	background:url("../img/королева.jpg");
	background-size: cover;
}

/*slider*/

.section3{
	background-color: #d2e2fe;
	padding-bottom: 18px;
}
.galery{
	margin-bottom: -35px;
	color: black;
	font-size: 88px;
	font-family: 'Prata', serif;
	text-align: center;
}
.slider{
      max-width: 500px;
      margin: 0 auto;
}

 .slider__wrapper {
      overflow: hidden;
    }

    .slider__item {
      flex: 0 0 0 50%;
      max-width: 50%;
      height: 510px;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .slider__item:nth-child(1) {
      background:100% url("../img/вместе.jpg");
      background-size: cover;
    }

    .slider__item:nth-child(2) {
      background:100% url("../img/мак.jpg");
      background-size: cover;
    }

    .slider__item:nth-child(3) {
      background:100% url("../img/учеба.jpg");
      background-size: cover;
    }

    .slider__item:nth-child(4) {
      background:100% url("../img/смешно.jpg");
      background-size: cover;
    }

    .slider__item:nth-child(5) {
      background:100% url("../img/глист.jpg");
      background-size: cover;
    }
    .slider__item:nth-child(6) {
      background:100% url("../img/сдрузьями.jpg");
      background-size: cover;
    }
    .slider__item:nth-child(7) {
      background:100% url("../img/любовь.jpg");
      background-size: cover;
    }

.section4{
	width: 100%;
	height: 100%;
	position: absolute;
}
.footer{
	width: 60%;
	height: 100%;
	background-color:#ffd1dc ;
	float: left;
}

.contact{
	position: absolute;
	left: -22%;
	top: 40%;
	font-size: 100px;
	transform: rotate(270deg);
	font-family: 'Prata', serif;
}
.links p{
	font-size: 30px;
	text-align: center;
	margin-top: 20%;
}
.links a{
	display: block;
	text-align: center;
	font-size: 40px;
	text-decoration: none;
	color: black;
	font-family: 'Lobster', cursive;
	margin-top: 10px;
}
.links img{
	width: 50px;
	height: 50px;
	margin-top: 15px;
}
.links hr{
	width: 30%;
	background-color: black;
	height: 2px;
	display: block;
	margin: 5% auto 0px;
}
.tel img{
	float: right;
	width: 250px;
	margin-right: 10%;
	margin-top: 5%;
}