*, a{
	margin: 0;
	padding: 0;
	text-decoration: none;
}

.container-black{
	width: 100%;
	background-color: #000;
	align-items: center;
	padding-bottom: 20px;
}

.header-text{
	display: block;
	text-align: center;
	padding: 30px 0 10px;
	font-family: 'Prata', serif;
	color: #9D8665;
	font-size: 46px;
	font-weight: 400;
}

.header-undertext{
	display: block;
	text-align: center;
	margin-bottom: 10px;
	font-family: 'Prata', serif;
	color: #fff;
	font-size: 20px;
	letter-spacing: .5em;
}

.hr-main{
	display: block;
	margin: 0 180px 0 180px;
	height: 2px;
	background-color: #710707;
	border:none;
}

.virtual{
	margin: 35px 180px;
}

.virtual-grid{
	display: grid;
	grid-template-columns: 260px 260px 260px;
	grid-column-gap: 3.75em;
	grid-row-gap: 2.7em;
}
.virtual-grid>div{
	padding: 5px;
	border-radius: 15px;
	border: 1px solid #c0c0c0;
	transition: .5s;
}

.red{
	background-color: #da1414;
}

.orange{
	background-color:gold;
}

.blue{
	background-color:#197de6;
}

.purple{
	background-color:#800080;
}

.red:hover{
	box-shadow:  0 0 50px #da1414;
	border: none;
	background-color: #fff;
}

.orange:hover{
	box-shadow:  0 0 50px gold;
	border: none;
	background-color: #fff;
}

.blue:hover{
	box-shadow:  0 0 50px #197de6;
	border: none;
	background-color: #fff;
}

.purple:hover{
	box-shadow:  0 0 50px #800080;
	border: none;
	background-color: #fff;
}

.virtual-grid img{
	display: block;
	padding-top: 10px;
	max-width: 80px;
	margin: 0 auto;
}
.text-big{
	display: block;
	margin: 12px 0 5px;
	font-family: 'Prata', serif;
	color: #000;
	font-size: 20px;
	font-weight: 400;
}

.text-big:hover, active{
	color: #9d8665;
}

.text-between{
	display: block;
	margin: 5px 0;
	font-family: 'Prata', serif;
	font-size: 16px;
	font-weight: 100;
	color: #000;
}

.text-small{
	font-family: 'Prata', serif;
	font-size: 14px;
	font-weight: 100;
	color: #000;
}

.hr-in-block{
	width: 80%;
	height: 2px;
	background-color: #710707;
	border:none;
	transition: 1s;
}

.virtual-grid > div:hover .hr-in-block{
	width: 100%;
}